*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Playfair Display', serif;
}
a{
	text-decoration: none;
}
h1{
	position: relative;
	font-size: 45px;
	top: 40%;
}
img{
	width: 100%;
	height: calc(100% - 1.5em);
}
i{
	margin-right: 5px;
}
#navbar{
	display: flex;
	background-color: #7729D6;
	position: fixed;
	top: 0;
	height: 65px;
	width: 100vw;
	justify-content: flex-end;
	align-items: center;
	z-index: 10;
}
#navbar ul{
	list-style: none;
}
#navbar ul li{
	display: inline-block;
	margin: 0 30px 0 0px;
	font-size: 1.3em;
}
#navbar ul li a{
	padding: 18px 10px 18px 10px;
	color: #A8F69A;
}
#navbar ul li a:hover{
	background-color: #A8F69A;
	color: #7729D6;
}
#welcome-section{
	color: #FAF0E5;
	background-color: #19837E;
	height: 100vh;
	text-align: center;
}
#welcome-section h2{
	position: relative;
	font-size: 1.7em;
	top: 45%;
}
#projects{
	background-color: #D62932;
}
#projects h2{
	color: #05273A;
	text-decoration: underline;
	text-align: center;
	font-size: 2.5em;
	position: relative;
	top: 70px;
}
#project-grid{
	margin: 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 110px 30px 0 30px;
	padding-bottom: 50px;
}
.project-tile a{
	display: flex;
	flex-direction: column;
}
.project-tile a p{
	font-size: 1.1em;
	padding: 6px 0;
	text-align: center;
	color: #FAF0E5;
	background-color: #05273A;
}
#profile-link{
	color: #FAF0E5;
	text-align: center;
	height: 70vh;
	background-color: #88D629;
	padding-top: 100px;
	border-bottom: 5px solid blue;
}
#profile-link h2{
	font-size: 4em;
}
#profile-link p{
	font-size: 1.5em;
}
#profile-link ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}
#profile-link ul li{
	color: white;
	list-style: none;
	margin: 10px 10px 20px 10px;
}
#profile-link ul li{
	color: #FAF0E5;
	font-size: 1.5em;
}
#profile-link ul li a{
	display: inline-block;
	transition: all 0.4s linear;
}
#profile-link ul li a:hover{
	color: yellow;
   -webkit-transform: translateY(10px);
   -moz-transform: translateY(10px);
   -o-transform: translateY(10px);
}
footer{
	color: #7729D6;
	font-size: 1.2em;
	position: relative;
	height: 80px;
	background-color: #29D6CD;
	z-index: -1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer p{
	margin: 0 15px;
}
@media screen and (max-width: 900px){
	#project-grid{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 600px){
	#project-grid{
		grid-template-columns: 1fr;
	}
}
