body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	text-align: center;
	background: linear-gradient(rgb(255, 131, 59),rgb(255, 255, 255) ,rgb(61, 222, 40));
	animation: fade-effect 2s ease 0s 1 normal;
}

#image{
	max-width: 100%;
	height: auto;
}

#img-div{
	color: 
}
@keyframes fade-effect{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}